[package]
name = "hello_rust"
version = "0.1.0"
edition = "2021"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
core = { version = "1.0", optional = true, package = "rustc-std-workspace-core" }